<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.personnel.dao.BasicMapper" >
  <resultMap id="BaseResultMap" type="com.personnel.entity.Basic" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="emp_id" property="empId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="birthdate" property="birthdate" jdbcType="TIMESTAMP" />
    <result column="place_origin" property="placeOrigin" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="IDcard" property="idcard" jdbcType="INTEGER" />
    <result column="marrige" property="marrige" jdbcType="VARCHAR" />
    <result column="political_outlook" property="politicalOutlook" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="INTEGER" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, emp_id, name, age, sex, birthdate, place_origin, nation, IDcard, marrige, political_outlook, 
    department, job, education, address, phone, gmt_created, gmt_modified, remark
  </sql>
  <select id="getBasicListByPage" resultMap="BaseResultMap" >
  select * from basic limit #{startPos},#{pageSize} 
  </select>
  <select id="getBasicCount" resultType="long">
  select count(*) from basic
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from basic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from basic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.personnel.entity.Basic" >
    insert into basic (id, emp_id, name, 
      age, sex, birthdate, 
      place_origin, nation, IDcard, 
      marrige, political_outlook, department, 
      job, education, address, 
      phone, gmt_created, gmt_modified, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{empId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, #{birthdate,jdbcType=TIMESTAMP}, 
      #{placeOrigin,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{idcard,jdbcType=INTEGER}, 
      #{marrige,jdbcType=VARCHAR}, #{politicalOutlook,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{job,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=INTEGER}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.personnel.entity.Basic" >
    insert into basic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthdate != null" >
        birthdate,
      </if>
      <if test="placeOrigin != null" >
        place_origin,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="idcard != null" >
        IDcard,
      </if>
      <if test="marrige != null" >
        marrige,
      </if>
      <if test="politicalOutlook != null" >
        political_outlook,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthdate != null" >
        #{birthdate,jdbcType=TIMESTAMP},
      </if>
      <if test="placeOrigin != null" >
        #{placeOrigin,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=INTEGER},
      </if>
      <if test="marrige != null" >
        #{marrige,jdbcType=VARCHAR},
      </if>
      <if test="politicalOutlook != null" >
        #{politicalOutlook,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.personnel.entity.Basic" >
    update basic
    <set >
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthdate != null" >
        birthdate = #{birthdate,jdbcType=TIMESTAMP},
      </if>
      <if test="placeOrigin != null" >
        place_origin = #{placeOrigin,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        IDcard = #{idcard,jdbcType=INTEGER},
      </if>
      <if test="marrige != null" >
        marrige = #{marrige,jdbcType=VARCHAR},
      </if>
      <if test="politicalOutlook != null" >
        political_outlook = #{politicalOutlook,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.personnel.entity.Basic" >
    update basic
    set emp_id = #{empId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      birthdate = #{birthdate,jdbcType=TIMESTAMP},
      place_origin = #{placeOrigin,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      IDcard = #{idcard,jdbcType=INTEGER},
      marrige = #{marrige,jdbcType=VARCHAR},
      political_outlook = #{politicalOutlook,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>